## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [12]:
new_words=[]
for i in range(len(words)):
    item=words[i].upper()
    new_words.append(item)
print(new_words)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

In [13]:
for i in range(len(words)):
    item=words[i].upper()
    print(item)

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [3]:
new_list=[]

for i in words:
    if len(i) > 4:
        new_list.append(i)

print(new_list)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [4]:
new_list2=[]

for i in words:
    if i.startswith("t"):
        new_list2.append(i)
print(new_list2)

['theatre', 'that']

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [6]:
num=[]

for i in range(1,11):
    num.append(i**2)
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [16]:
odd_num=[]
for i in range(1, 11):
    if i%2==1:
        odd_num.append(i)

print(odd_num)

[1, 3, 5, 7, 9]

**Create a list with the squares of all multiples of 8 below 1000**

In [17]:
multiple_num=[]

for i in range(1, 1001):
    if i %8 ==0:
        multiple_num.append(i)

print(multiple_num)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992, 1000]

## People

In [61]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [20]:
len(people)

5

**How many people have kids**?

In [39]:
count=0
for i in people:
    if i["n_kids"] > 0:
        count += 1
print(count)

4

**How many kids do they have in total?**

In [40]:
count=0
for i in people:
    if i["n_kids"] > 0:
        count += i["n_kids"]
print(count)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [62]:
people_nextyear=[]

for i in people:
    if i['name'].endswith("a"):
        i['n_kids'] += 1
    people_nextyear.append(i)

print(people_nextyear)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]